[project]
	description = This is my second app
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ntwhislsmtn
[access "refs/for/refs/*"]
	read = group user/ntwhislsmtn
	push = group user/ntwhislsmtn
	label-Code-Review = -2..+2 group user/ntwhislsmtn
	label-Verified = -1..+1 group user/ntwhislsmtn
	rebase = group user/ntwhislsmtn
	removeReviewer = group user/ntwhislsmtn
	submit = group user/ntwhislsmtn
[access "refs/heads/*"]
	read = group user/ntwhislsmtn
	create = group user/ntwhislsmtn
	push = +force group user/ntwhislsmtn
	pushMerge = group user/ntwhislsmtn
[access "refs/tags/*"]
	push = group user/ntwhislsmtn
	push = +force group user/ntwhislsmtn
